body {
    background-image: url('././image/météo ciel.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
 }

.weatherForm {
    margin: 20px;
}

.cityInput {
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px;
    width: 300px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    color: white;
}

.weatherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todayWeather {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.todayCard {
    background-color: rgba(28, 146, 225, 0.6); /* White color with 30% opacity */
    color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

.forecastWeather {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.forecastCard {
    background-color: rgba(255, 255, 255, 0.7); /* White color with 30% opacity */
    width: 200px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 150px;
    
}

.forecastIcon, .weatherIcon {
    width: 50px;
    height: 50px;
}
